.header__title__image
{
	width: 4vw;
}
.header__title
{
    font-size: 5vw;
    margin:  0;
    color: rgb(21, 21, 92);
}
.header__list
{
    margin: 0;
    padding: 0;
    text-align: center;
}
#news h4{
    text-align: center;
}
.header__list li
{
    display: inline-block;
    margin: 2px;
    border: 0.2vw solid rgb(21, 21, 92);
    border-radius: 10px;
    padding: 0.1em;
    padding-top: 0.4em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}  


.header__list li:hover
{
    background: linear-gradient(45deg, rgb(21, 21, 92), orange);
}
#news img
{
    float:left;
    width:50%;
    border-radius: 20px;
    margin: 5px 15px;
}
#news{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#news li
{
    float: left;
    list-style-type: none;
}
#news a
{
    text-decoration: none;
    color: black;
    font-weight: bold;font-size: 1.2em;
}   
footer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    
    display: inline-block;
    line-height: 50px;
    height: 50px;
    width: 35%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background: rgb(21, 21, 92);
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    margin-left: 35%;
    list-style-type: none;
    padding: 0;
    
}
.button:hover {
    color: orange;
}



@media screen and (max-width: 640px) {
    #news img
    {
        float: none;;
        width: 90%;
    }
    .header__list li
    {
        padding-top: 0;
        padding-bottom: 0.2em;
    } 
}

